<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <ScriptPatternSelector defaultPattern="[%-5level] %c{1} - %m%n">
                    <PatternMatch key="*">
                         <Pattern><![CDATA[%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %replace{%msg %xEx}{(?i)(Bearer\s+|token=|key\s*&quot;:&quot;?|password=)([\w\.-]+)}{$1*****REDACTED*****}%n]]></Pattern>
                    </PatternMatch>
                </ScriptPatternSelector>
            </PatternLayout>
        </Console>

        <File name="File" fileName="logs/app.log">
            <PatternLayout>
                <Pattern><![CDATA[%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %replace{%msg %xEx}{(?i)(Bearer\s+|token=|key\s*&quot;:&quot;?|password=)([\w\.-]+)}{$1*****REDACTED*****}%n]]></Pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>